.navbar {
  background-color: $blue;
  height: $xl-size;
  color: $text;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

