// Colors
$text: #2a2c05;
$page: #e4b04a;
$blue: royalblue;
$dark-gray: darkslategray;
$khaki: darkkhaki;
$gray: slategray;
$light-blue: cornflowerblue;
$light-gray: gainsboro;
$linen: linen;

// Spacing
$xs-size: 0.6rem;
$sm-size: 1.2rem;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
